	.playPauseButton {
		position:absolute;
		bottom:50px;
		opacity: 0.3;
		-webkit-transition: all 0.2s; /* Safari */
		transition: all 0.2s;
	}

	.playPauseButton:hover {
		opacity: 1;
	}

	.playPauseButton.disabled {
		visibility: hidden;
		-webkit-transition: all 0s; /* Safari */
		transition: all 0s;
	}